<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yozzibeens.rivostaxipartner">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.packagename.permission.MAPS_RECEIVE"  android:protectionLevel="signature"/>
    <uses-permission android:name="com.YozziBeens.danisanc.rivostaxitaxiversion.permission.C2D_MESSAGE" />
    <!--permission android:name="com.packagename.permission.MAPS_RECEIVE" android:protectionLevel="signature" /-->
    <!--permission android:name="com.YozziBeens.danisanc.rivostaxitaxiversion.permission.C2D_MESSAGE" android:protectionLevel="signature" /-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeCYnH9D76FoZtpKuJ8P2CadaPnE2VZpo"/>


        <activity android:name=".actividades.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Inicio"
            android:name=".Main"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="Ayuda"
            android:name=".actividades.Nav_Ayuda"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="Historial"
            android:name=".actividades.Nav_Historial"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="Perfil"
            android:name=".actividades.Nav_Perfil"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="Preguntas Frecuentes"
            android:name=".actividades.Preguntas_Frecuentes"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="Ver Detalle"
            android:name=".actividades.View_Request"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="En Proceso"
            android:name=".actividades.On_Process"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:label="Iniciar Sesion"
            android:name=".actividades.Login"
            android:windowSoftInputMode="stateHidden"></activity>


        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.YozziBeens.danisanc.rivostaxitaxiversion" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GCMNotificationIntentService" />

    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" >
    </uses-feature>

</manifest>
